<div id="<%= dom_id store %>" class="card mb-4 shadow-sm">
  <div class="card-body">
    <!-- Store Name -->
    <p class="card-title">
      <strong class="h5">Name:</strong>
      <%= store.name %>
    </p>

    <!-- Store Email -->
    <p class="card-text">
      <strong>Email:</strong>
      <%= store.email %>
    </p>

    <!-- Store Address -->
    <p class="card-text">
      <strong>Address:</strong>
      <%= store.address %>
    </p>
  </div>
</div>
