<% content_for :title, "New Store" %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Create New Store</h3>
  </div>
  <div class="card-body">
    <%= render "form", store: @store %>
  </div>
  <div class="card-footer text-right">
    <%= link_to "Back to Stores", stores_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
